<html>
  <head>
    <title>Maths Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css" type="text/css" rel="stylesheet" />
    <style>
      .progress {
          transition: all 0.5s;

      }
    </style>
  </head>
  <body>
    <section class="section">
      <div class="container ">
        <h1 class="title has-text-centered">
        Times table maths quiz
        </h1>
        <div class="test content has-text-center">
            <quiz></quiz>
        </div>
        <div class="addthis_sharing_toolbox"></div>
      </div>
    </section>
    
    <script src="https://unpkg.com/vue@2.3.3" type="text/javascript"></script>
    
    <script>
      Vue.component('quiz', {
        template: `
          <div>
            <div class="columns is-desktop">
              <div class="column">
                <div class="content is-large">
                  <h1 class="has-text-centered is-marginless">{{ firstNumber }} x {{ secondNumber }}</h1>
                </div>
              </div>
              <div class="column">
                <div class="field has-addons">
                  <p class="control is-expanded">
                    <input v-model="answerInput" type="number" class="input is-large" ></input> 
                  </p>
                  <p class="control">
                    <button class="button is-info is-large" v-on:click="show">Mark</button>
                  </p>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class=" notification has-text-centered" v-if="showAnswer" :class="[correctAnswer ? 'is-success': 'is-danger']">
                  <span v-if="correctAnswer">Correct, the answer is {{ answerNumber }}</span>
                  <span v-else>Sorry, please try again</span>
                </div>
              </div>
            </div>
            <div class="columns is-multiline is-mobile">
              <div class="column">
                <p>
                  <span class="tag is-large is-pulled-left is-danger">Incorrect: {{ incorrectCount }}</span>
                </p>  
              </div>
              <div class="column">
                <span class="tag is-large is-pulled-right is-success">Correct: {{ correctCount }}</span>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <button class="button is-light is-fullwidth is-medium" v-on:click="next">Next</button>
              </div>
            </div>
          </div>`,
        data() {
          return  {
            showAnswer : this.showIt,
            firstNumber: this.first,
            secondNumber: this.second,
            answerNumber: this.answer,
            answerInput: '',
            correctAnswer: false,
            correctCount: 0,
            incorrectCount: 0,
            progress: 0
          }
        },
        props: {
          showIt: {default: false, type: Boolean},
          first:  { default: Math.floor(Math.random() * 12) + 1},
          second: { default: Math.floor(Math.random() * 12) + 1 },
        },
        computed: {
          answer: function() { return (this.first * this.second) }
        },
        methods: {
          show: function() {
            this.correctAnswer = false;
            this.answerNumber = this.firstNumber * this.secondNumber;
            if(this.answerInput == this.answerNumber)
            {
              this.correctAnswer = true;
              this.correctCount++;
            } else {
              this.incorrectCount++;
            }

            this.showAnswer = true;

            this.progress = (this.correctCount / (this.correctCount + this.incorrectCount)) * 100;

          },
          next: function() {
            this.firstNumber = Math.floor(Math.random() * 12) + 1;
            this.secondNumber = Math.floor(Math.random() *12 ) + 1;
            this.anwserNumber = (this.firstNumber * this.secondNumber);
            this.answerInput = '';
            this.showAnswer = false;
          }
        }
      });
      
      var test = new Vue({
        el: '.test'
      });
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49024852-2', 'auto');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5389e83123038039"></script> 
  </body>
</html>